body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif, ;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    width: 150px;
    height:

}

.right-box {
    flex: 1;
    display: flex;
    gap: 20px;
    justify-content: flex-end;

}

.right-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right-box div {
    padding: 10px;
    border-radius: 50%;
    position: relative;



}

.right-box div :hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.right-box div span {
    background-color: rgb(179, 28, 28);
    padding: 0px 5px;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 0;
    right: -6px;
    border: 1px solid white;
    font-size: smaller
}

.right-box div i {
    font-size: 20px;
    border-radius: 50%;



}

.right-box button i {
    font-size: 15px;
    margin-right: 3px;
}

.middle-box {
    flex: 2;
    display: flex;
}

.middle-box button {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(250, 243, 243);
    border: none;
}

.middle-box button:hover {
    background-color: rgb(221, 195, 195);
    cursor: pointer;
}

.left-box {
    flex: 1;
}

.input-box {
    width: 100%;
    background-color: rgb(245, 237, 245);
    height: 40px;
    display: flex;
    border-radius: 40px;
    border: 1px solid black;
    overflow: hidden;
}

.input-box input {
    width: 90%;
    height: 100%;
    border: none;
    padding-left: 20px;
    outline: none;


}

.input-box div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;

}

.create-btn {
    width: 100px;

    border-radius: 20px;
    border: none;
}

.create-btn:hover {
    background-color: rgb(210, 224, 220);
    cursor: pointer;

}

/* THIS IS FOR THE VIDEO SECTION */

.video-section {
    padding: 40px;
    display: flex;
    gap: 20px;
}

.video-img {
    width: 430px;
    border-radius: 15px;

}

.video-img:hover {
    border-radius: 0px;
}


.channel-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;


}

.video-info {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.video-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #606060;
    font-size: 14px;
}

.video-title {
    margin: 0;
    color: #0F0F0F;
    font-size: 16px;
}

.video-author {
    margin: 0;
    font-size: 14px;
}